<!DOCTYPE html>
<html>
  <head>
    <title>Fish Tank Monitoring</title>
    <meta http-equiv="Refresh" content="5">
    <style>
    body {
	background-color: black;
    }
    .info {
	color: white;
	font-size: 60px;
	width: 20%;
     }
    div:after {
        content: "";
        display: table;
        clear: both;
     }
    </style>
  </head>
  <body>
    <table style="width: 100%;">
      <tr>
	      <td class="info" style="background-color: Tomato">Moisture:<br>{{ moisture }}%</td>
	<td style="width: 20%"></td>
	<td class="info" style="background-color: MediumSeaGreen">Temperature:<br>{{ temperature }}°C</td>
	<td style="width: 20%"></td>
	<td class="info" style="background-color: SlateBlue">Humidity:<br>{{ humidity }}%</td>
      </tr>
    </table>
    <img src="{{ url_for('video_feed') }}">
  </body>
</html>

